body {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
    overflow-x: hidden;
    background: black;
    cursor: none;
    background: url(../img/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
  .wrapper{
      width: 800px;
      height: 100vh;
      border: 1px solid rgba(255,255,255,.3);
      margin: 120px auto 120px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
  }
  #message-container{
    height: auto;
    margin-bottom: 800px;
  }
  #message-container div {
    width: 700px;
    background-color: wheat;
    margin: 5px 0 5px 0;
    padding: 5px;
    border-bottom: 1px solid (255,255,255,.5);
  }
  #message-container div:nth-child(2n) {
    margin-top: 5px;
    background-color:orange;
    color: beige;
  }
  #send-container {
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #message-input {
    width: 400px;
    height: 50px;
    outline: none;
    border: none;
    background: none;
    transition: all 0.5s ease;
    border-bottom: 2px solid beige;
    font-family: 'Comfortaa', cursive;
    color: beige;
    cursor: none;
    padding: 0 15px;
  }
  input::-webkit-input-placeholder { color: beige; }
  #send-button{
      margin-left: 25px;
      width: 50px;
      outline: none;
      background: none;
      border: none;
      height: 50px;
      font-size: 17px;
      color: #333;
      display: flex;
      cursor: none;
      justify-content: center;
      align-items: center;
      font-family: 'Comfortaa', cursive;
  }
  #send-button img{
      max-width: 60px;
      transform: rotate(-25deg);
  }
  ::-webkit-scrollbar{
      width: 20px;
  }
  ::-webkit-scrollbar-thumb{
      background: orange;
  }
  ::-webkit-scrollbar-thumb:hover{
      background: #FFC312;
  }
  ::-webkit-scrollbar-track{
      background: black;
  }
  ::selection{
      background: #e67e22;
      color: whitesmoke;
  }
  header{
      width: 100%;
      height: 10vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .logo{
     transform: translateX(50px);

  }
  .logo h2{
      font-size: 50px;
      position: relative;
      color: transparent;
      text-transform: uppercase;
  }
  .logo h2 span:nth-child(1){
      position: absolute;
      top: 0;
      left: 0;
      color: orange;
      transition: 0.5s ease;
      clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
      overflow: hidden;
  }
  .logo h2:hover span:nth-child(1){
    transform: translateY(-18px);
  }
  .logo h2:hover span:nth-child(2){
    transform: translateY(18px);
  }
  .logo h2 span:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    color: orange;
    transition: 0.5s ease;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    overflow: hidden;
}
.logo h2 span:nth-child(3){
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scaleY(0);
    color: beige;
    width: 91%;
    background: orange;
    font-size: 0.25em;
    letter-spacing: 0.7em;
    text-align: center;
    transition: 0.5s ease;
    padding-left: 10px;
  }
  .logo h2:hover span:nth-child(3){
      transform: translateY(-50%) scaleY(1);
  }
  header img{
      max-width: 60px;
  }
  #mybtn{
      text-align: center;
      border-radius: 50%;
      width: 60px;
      height: auto;
      margin-right: 50px;
  }
  .clock{
      color: wheat;
      pointer-events: none;
      font-size: 25px;;
      font-family: consolas;
  }
  .cursor{
      position: absolute;
      top: 0;
      left: 50%;
      width: 42px;
      height: 42px;
      border: 3px solid whitesmoke;
      border-radius: 50%;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
      animation: cursorOne .5s ease-in-out infinite alternate;
  }
  .cursor::after
  {
      content: '';
      width: 42px;
      height: 42px;
      position: absolute;
      border: 8px solid beige;
      border-radius: 50%;
      opacity: .5;
      top: -8px;
      left: -8px;
      animation: cursorTwo .5s ease-in-out infinite alternate;
      z-index: -1;
  }
  .blow{
      animation: cursorThree .5s ease-in-out forwards;
  }
  
  @keyframes cursorOne
  {
      from
      {
          transform: scale(1);
      }
      to
      {
          transform: scale(.7);
      }
  }
  @keyframes cursorTwo
{
    from
    {
        transform: scale(1);
    }
    to
    {
        transform: scale(.4);
    }
}
@keyframes cursorThree{
    to{
        transform: scale(2.2);
        opacity: 0;
    }
}